.my-container {
  position: relative;
  background: black;
  overflow: hidden; }
  .my-container h3 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff; }
  .my-container .service-text {
    padding: 50px;
    z-index: 2;
    position: relative;
    margin-top: -50px;
    color: #fff; }
    .my-container .service-text i {
      font-size: 10px; }
    .my-container .service-text .form-group .form-control {
      padding-left: 2.375rem; }
    .my-container .service-text .form-group .form-control-icon {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa; }
    @media screen and (min-width: 768px) {
      .my-container .service-text .form-row #dia-chi-don {
        margin-left: 5%; } }
    .my-container .service-text .form-row .btn-xem-gia {
      width: 100%;
      background: linear-gradient(40deg, #ff6ec4, #7873f5) !important; }
  .my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6; }
